.homePage {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 50px;
}

.chartsContainer {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.chart1Container {
  flex: 1;
  width: 600px;
  margin: 15px;
}

.chart2Container {
  flex: 1;
  margin: 10px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  color: blue;
}
