.layoutzq {
  display: flex;
  width: 600px;
  padding-right: 50px;
  padding-left: 50px;
  /* border-style: solid; */
  border: none;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  justify-content: center;
}
.title {
  text-transform: capitalize;
}

.form-group {
  margin-bottom: 1rem;
  margin-left: 20px;
  padding: 5px;
}

.sub-text {
  text-align: center;
  margin-top: 25px;
  font-size: larger;
}

.labelBox {
  width: 120px;
  margin: 0;
}

.field {
  width: 180px;
}
