.SettingsPage {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 248, 0.801);
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
}

.budgetContainer {
  display: flex;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.345);
  margin: 20px;
  padding: 30px;
  border: none;
  box-shadow: 1px 5px 18px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #f8f9fa;
}

.budgetHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.amount {
  flex: 2;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-top: 12px;
}

.amountTitle {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: blue;
}

.Btn {
  flex: 2;
  background-color: rgb(255, 220, 43);
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 18px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.15s;
}

.Btn:hover {
  background-color: rgb(241, 241, 44);
}

.categoryList {
  flex: 3;
}
